@font-face {
  font-family: 'fontname';
  src: url('http://2ttf.com/webfont/KkBBondG/webfont.ttf') format('truetype');
}


h1, h2, h3, h4, h5, h6{
  margin:0;
  padding:0;
}

a {
  color: #0A8C58;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar.navbar-inverse {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom: 0;

}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-family: 'bebasregular';
  font-size:36px;
  text-transform: uppercase;

}

body {
  background: url('/assets/baby_burgers.png');
   font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
 

}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #F5E8C8;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radium: 3px;
  padding:8px;
}

#map {
height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.centered { display: table; margin: 0 auto; }

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
  max-height: 100%;
  max-height: 320px;
  margin-bottom: 60px;
  height:auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
  max-height: 320px;
  }

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 100;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    left: 0;
    top: 150px;
    height: 135px;
}