@font-face {
  font-family: 'fontname';
  src: url('http://2ttf.com/webfont/KkBBondG/webfont.ttf') format('truetype');
}


h1, h2, h3, h4, h5, h6{
  margin:0;
  padding:0;
}

.navbar.navbar-inverse {
  background:url('/assets/tumblr_lutem1uL5R1qkcbnko2_500_invert.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;

}

.navbar-inverse .navbar-brand {
  color: #48FF00;
  font-family: 'ritaglioregular', sans-serif;
  font-size:36px;
  text-transform: uppercase;

}

body {
  background: url('/assets/tumblr_lutem1uL5R1qkcbnko2_500.png');
   font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
 

}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radium: 3px;
  padding:8px;
}

#map {
height: 300px;
}